<div class="grid light-bg product-highlight padded">

  <div class="col-12 centered">
      <h2> Recommended Products </h2>
  </div>

  <!-- column 1 -->
  <div class="col-4_xs-12">
    <div class="bg-img margin-bottom" style="background-image:url('/images/placeholder.png')"></div>
    <h4> Product Name </h4>
    <p> from $3.99 </p>
  </div>

  <!-- column 2 -->

  <div class="col-4_xs-12">
    <div class="bg-img margin-bottom" style="background-image:url('/images/placeholder.png')"></div>
    <h4> Product Name </h4>
    <p> from $3.99 </p>
  </div>


  <!-- column 3 -->

  <div class="col-4_xs-12">
    <div class="bg-img margin-bottom" style="background-image:url('/images/placeholder.png')"></div>
    <h4> Product Name </h4>
    <p> from $3.99 </p>
  </div>

</div>
