<footer class="grid">

  <!-- Column 1 -->
  <div class="col-6_sm-12">
    <h2 class="logo"> Scott Bruce Photography </h2>
    <p class="editable">
      Music, events and lifestyle photography&nbsp;
    </p>
  </div>

  <!-- Column 2 -->
  <div class="col-3_sm-6_xs-12">
    <!-- <nav>
      <a href="/about"> About </a>
      <a href="/work"> Work </a>
      <a href="/services"> Services </a>
      <a href="/blog"> Blog </a>
      <a href="/contact"> Contact </a>
    </nav> -->
  </div>

  <!-- Column 3 -->
  <div class="col-3_sm-6_xs-12">
    <nav class="social-nav">
      <!-- add your social links here -->
      <a href="#"> <i class="fa fa-facebook"></i>Facebook </a>
      <a href="#"> <i class="fa fa-instagram"> </i>Instagram</a>
      <a href="#"> <i class="fa fa-twitter"></i>Twitter</a>
    </nav>
  </div>

</footer>
<div class="sub-footer">
   Copyright 2018 | Website designed & built by <a href="http://instituteofcode.com"> The Insitute of Code</a> in Bali
</div>
