---
layout: default
title: Shop
---

<section class="tall grid-center">

  <div class="col-6_md-8_sm-12 post-body">
      <h1> {{page.title}} </h1>

      {{content}}

  </div>

</section>
<section class="light padded">
   <h2> Related Projects </h2>

     <div class="grid">

     {% for post in site.posts limit:4 %}
     <div class="col-3_sm-4_xs-12 no-padding">

       <a href="{{post.url}}" class="bg-img square-img" style="background-image:url({{post.image_path}})">

         <h3 class="show-on-hover"> {{post.title}}</h3>

       </a>
     </div>
     {% endfor %}

     </div>
   </section>
</section>

{% include instagram.html %}
